lambda expressions
 - anonymous functions which which are not bound by a name
 - Its restricted to a single expression
 - Executed inline Does not have an explicit function call

In [ ]:
#Creating a lambda function object
lambda x, y : x + y

In [ ]:
#Executing the expression inline
(lambda x, y : x + y)(3,2)

In [ ]:
#Giving name to the lambda function object
add = lambda x, y : x + y

In [ ]:
add(3,2)

 - Lambda expressions can be used in any fucntion which require a function object as an argument
 - extensively used in the below functions:
   
        1. map
        2. filter
        3. reduce

map - is to apply an operation on every element of a collection

map function takes 2 arguments
1. function object - which specifies an operation which is to be applied on every element of the list. This can be a lambda as well
2. A collection on which the operation is to be applied

In [ ]:
#take a list and map the square function on every element of the list

In [ ]:
lst = [10,20,30,40]

In [ ]:
m = map(lambda a:a**2, lst)

In [ ]:
m

In [ ]:
list(m)

In [ ]:
#map function returns a map object which is not iteratable, 
# when printed it display the address of the object in memory
#hence to display the values, map object is converted to a list

#Divide every element by 100

In [ ]:
lst = [7,8,9,14,13,12,6,5]
list(map(lambda x: x/100,lst))

- Filter is used to filter or choose the elements from a collection based on a condition
- Takes 2 arguments
    1. Function object which specifies the condition
    2. A collection
- The outcome of filter would be only the elements from the collection which satisfies the condition represented by the function object

In [ ]:
lst = [10,20,30,33,45,75,90]

In [ ]:
f = filter(lambda x:x%10==0,lst)
div10 = list(f)
div10

In [ ]:
#for all numebrs divisble by 10 take a square of it

In [ ]:
list(map(lambda x:x**2,div10))

Reduce - To apply pair wise or an aggregate operation like sum, mul, min, max on a collection

Reduce function takes 2 arguments:
1. a function object which sepcifies the aggregate operation to be performed
2. A collection

The function object specifies a pair wise operation or an aggregate operation and hence takes two arguments

In [ ]:
from functools import reduce

In [ ]:
lst = [3,4,5,6,7,8,9]
total = reduce(lambda x,y:x+y,lst)
total

In [ ]:
average = total/len(lst)
average

In [ ]:
#Subtract every element of list, lst from the average

In [ ]:
list(map(lambda x: x-average,lst))

In [ ]:
#get all element from the list above the average

In [ ]:
list(filter(lambda x:x>average,lst))

In [ ]:
# Get the max element from the list
reduce(lambda x,y:x if x>y else y, lst)

#### Practice Assignment:1

In [ ]:
# 1. clean a list by removing zeros
# 2. Multiply every element of the cleaned list
# 3. Find the min and max element from this cleaned list

In [ ]:
lst = [7,19,3,2,0,5,0,3]

#### Practice Assignment:2

In [ ]:
# Calculate the factorial of a number using reduce:

In [ ]:
n = 5

#### Practice Assignment:3

Take a list of 10 numbers: `[10,0,5,-5,30,20,32]`

    1. Retain only non zero non negative numbers
    2. Compute the mean of cleaned marks
    3.find numbers from the list which are greater than the mean
	4. compute the squared differences of every number from the mean

In [ ]:
marks = [10,0,5,-5,30,20,32]

#### Practice Assignment:4
Calculate 5c2 using reduce function

#### Practice Assignment:5
Text Cleaning : Obtain the list of minimum and max salaries

In [ ]:
salaries = ['25-35L', '50-55L','10-15L','40-50L','20-30L']